*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.destaque{
    color: crimson;
    text-align: left;
    font-size: 30px;
}

.logo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
}

body > header > p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    background-color: black;
    padding: 15px 20px;
    position: relative;
}

.callvac {
    margin-top: 10px; 
}

.des {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin: 0; 
}

.botao{
   background-color:  crimson;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 11px;
}

.botao:hover{
    transform: scale(1.05);
}

.botao a {
    text-decoration: none;
    color: white;
}

.bloco{
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    box-shadow: black 0px 0px 10px;
    width: 55%;
    padding: 20px;
    margin-top: 20px;
}

.descricao {
    text-align: justify;
    margin: 3px 20px 20px 20px;
    font-size: 18px;
    line-height: 1.6;
    color: black;
}

img {
    height: 400px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.negrito {
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 5px 0;
}

.txt {
    color: green;
}

.texto{
    color: rgb(35, 64, 77);
}

h2 {
    color: black;
    font-size: 30px;

}

.botao{
   background-color:  crimson;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 11px;
}

.botao:hover{
    transform: scale(1.05);
}

.botao a {
    text-decoration: none;
    color: white;
}

.contato {
    margin: 40px 0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.contato h2 {
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.contato p {
    font-size: 18px;
    line-height: 1.5;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    color: black;
    background-color: rgb(153, 71, 71);
    margin-bottom: 15px;
    border-radius: 11px;
}

.link a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    position: relative;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}