*{

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(253, 238, 220);
    margin: 0;
    padding: 0;
}
.destaque{
    color: crimson;
    text-align: left;
    font-size: 30px;
}
.logo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
}

body > header > p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    background-color: black;
    padding: 15px 20px;
    position: relative;
}

.callvac {
    margin-top: 10px; 
}

.des {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin: 0; 
}




.cor {
    background-color: lightgray;
    min-height: 60vh; 
    margin: 0;
    padding: 0;
}

#titulo {
    margin: 15px 0px;
    text-align: center;
    font-size: 1.5em;
}

.partes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categoria{
    background-color: lightgray;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    box-shadow: 5px 5px 10px gray;
    transition: transform 0.3s ease;
}
.categoria a{
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.categoria img{
    width: 100%;
    border-radius: 15px;
}

